body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', serif;
  overflow:hidden;
  background-color: #1c1c1c;
  cursor: crosshair;
  touch-action: none;
}
h1 {
  text-decoration: none;
  font-weight: 400;
  color:#fff;
  letter-spacing: 0px;
  font-size: 4vw;
  text-align: left;
}
.title {
  position: absolute;
  margin: 0px 20px;
  width: 95%;
  z-index: -999;
}

@media only screen and (max-device-width: 450px){
  h1 {
    text-decoration: none;
    font-weight: 400;
    color:#fff;
    letter-spacing: 0px;
    font-size: 18pt;
    text-align: left;
  }
  .title {
    position: absolute;
    width: 90%;
  }

}
