body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow:hidden;
  background-color: #000;
  cursor: crosshair;
  touch-action: none;
}
a {
  text-decoration: none;
  color:#555;
  letter-spacing: 2px;
  font-size: 12pt;
  text-align: center;
}
.title {
  position: absolute;
  margin: 20px;
}
